# API Keys
.env
secrets.py
*.key

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.venv/
*.egg-info/
dist/
build/
.eggs/

# PyInstaller
*.spec

# Sistema
.DS_Store
Thumbs.db
*.log
*.tmp

# Assets grandes
assets/models/*.fbx
assets/models/*.obj
assets/textures/*.psd

# IDE
.vscode/settings.json
.idea/
*.swp
